body{
    height: 100%;
    width: 100%;
}
div{
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5em;
}


header{
    background: lightblue;
}
main{
    background: lightcoral;
}
nav{
    background: lightsalmon;
}

footer{
    background:lightskyblue;
}
