body{
    height: 100vh;
    width: 100%;
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header nav"
    "main nav"
    "footer footer"
}


header{
    grid-area: header;
    background: lightblue;
}
main{
    grid-area: main;
    background: lightcoral;
}
nav{
    grid-area: nav;
    background: lightsalmon;
}

footer{
    grid-area: footer;
    background:lightskyblue;
}
